@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* 로그인 창 구현  */

.wrap.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top:0;
  opacity: 0.5;
  background-color: #000;
  z-index: -1;
}
.login-page-enter-btn {
  background-color: #97add1;
  border: 1px solid #97add1;
  border-radius: 3px;
  position: absolute;
  color: #fff;
  top:10px;
  right: 10px;
}
.login-wrap.active {
  opacity: 1;
}
.login-wrap{
  opacity: 0;
  width: 230px;
  height: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background:#d6f0f6;
  border-radius: 4px;
}
.login-wrap > * {
  width: 200px;
  height: 30px;
  border: 1px solid #e8e8eb;
  border-radius: 3px;
  margin: 15px auto;
  padding: 3px;
}
.login-wrap>input::placeholder {
  color: grey;
  text-align: center;
}
.login-id {
}
.login-pw {
}
.login-btn {
  color: white;
  font-weight: 700;
  border: 0px;
  background-color: skyblue;
  
/* ////////////////// */
