@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("./reset.css");
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow: hidden;
}

.todos::-webkit-scrollbar {
  width: 10px;
}
.todos::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.todos::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

/* 시계 스타일 */
.main-greeting {
  position: absolute;
  left: 50%;
  top: 30%;
  width: 500px;
  height: 100px;
  text-align: center;
  transform: translate(-50%, 0);
  font-size: 30px;
  color: white;
}
.main-greeting > div:first-child {
  margin-bottom: 20px;
}
.timer-now {
  font-weight: 700;
  font-size: 60px;
}

.timer {
}
.timer > * {
  display: block;
  text-shadow: 2px 2px 3px black;
}
.greeting {
  font-size: 50px;
  font-weight: 600;
}
.name {
}

/* user menu 스타일 */
.user-menu {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 0);
}
.user-menu li {
  width: 70px;
  height: 70px;
  display: inline-block;
  margin-right: 50px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.user-menu li.todo-btn {
  background-image: url(/public/assets/todo.png);
}
.user-menu li.youtube {
  background-image: url(/public/assets/youtube.png);
}
.user-menu li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.user-menu li:last-child {
  margin: 0;
  background-image: url(/public/assets/weather.png);
}

/* login 스타일 */
.wrap.activeLogin::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.5;
  background-color: #000;
}
.login-page-enter-btn {
  background-color: #97add1;
  border: 1px solid #97add1;
  border-radius: 3px;
  position: absolute;
  color: #fff;
  top: 10px;
  right: 10px;
  padding: 5px;
  font-size: 12px;
  font-weight: 700;
}
.login-wrap.activeLogin {
  opacity: 1;
}
.login-wrap {
  opacity: 0;
  position: relative;
  z-index: 100;
  width: 230px;
  height: 250px;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #d6f0f6;
  border-radius: 4px;
}
.login-wrap > * {
  width: 200px;
  height: 30px;
  border: 1px solid #e8e8eb;
  border-radius: 3px;
  margin: 15px auto;
  padding: 3px;
}
.login-close-btn {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 10px;
  top: 2px;
  text-indent: -9999px;
  overflow: hidden;
  background-image: url(/public/assets/close.png);
  background-size: 100%;
}
.login-wrap > input::placeholder {
  color: grey;
  text-align: center;
}
.login-btn {
  color: white;
  font-weight: 700;
  border: 0px;
  background-color: skyblue;
}

/* todo list 스타일 */
.todo-btn {
}
.todo-wrap {
  margin-top: 130px;
  border-radius: 20px;
  /* background-color: #d6f0f6; */
  /* border: 3px solid black; */
  position: absolute;
  width: 30%;
  height: 60%;
  top: 0;
  right: 0;
  padding: 30px;
  transform: translate(100%, 0);
  transition: all 0.5s;
}
.todo-wrap.slide::after {
  content: "";
  position: absolute;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #fff;
  opacity: 0.5;
  z-index: -1;
}

.todo-wrap > h2 {
  width: 100%;
  font-weight: 300;
  margin: 20px auto;
  font-size: 50px;
}
.todo-wrap.slide {
  transform: translate(0);
}
.todo-form {
  margin-top: 20px;
}
.todo-input {
  border: none;
  vertical-align: middle;
  border-radius: 4px;
  padding: 3px 10px;
  width: 75%;
  font-size: 18px;
}
.add-btn {
  border: none;
  vertical-align: middle;
  border-radius: 4px;
  padding: 3px 10px;
  background-color: rgb(236, 208, 171);
  margin-left: 33px;
  font-size: 18px;
}
.todos {
  font-size: 18px;
  height: 100px;
  overflow-y: scroll;
  width: 100%;
}
.todos > li {
  margin-top: 10px;
}
.active {
  background-color: rgb(236, 208, 171);
}
.nav {
  margin-top: 30px;
}
.nav > li {
  display: inline-block;
  padding: 4px 10px;
  cursor: pointer;
  border-radius: 4px;
}
#all {
}
#active {
}
#completed {
}
.todos {
  margin-top: 30px;
}
.todos > li {
  padding-right: 5px;
  border-bottom: 0.1px solid black;
}
.footer {
  margin-top: 50px;
}

.complete-all {
  position: absolute;
  padding-right: 20px;
  vertical-align: middle;
  padding-top: 2px;
}
.clear-complete {
  position: absolute;
  right: 40px;
}
.clear-complete > span {
  vertical-align: middle;
}
.clear-complete > button {
  border: none;
  border-radius: 4px;
  background-color: rgb(236, 208, 171);
  padding: 4px 10px;
  vertical-align: middle;
}
.activie-todo {
  vertical-align: middle;
}
.completed-todo {
}
.close-btn {
  position: absolute;
  background-color: gray;
  border: none;
  border-radius: 8px;
  padding: 4px 10px;
  top: 30px;
  right: 40px;
  font-weight: 500;
  cursor: pointer;
}

/* background image 스타일 */
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
}
.background li {
  width: 100%;
  height: 100%;
  list-style: none;
  position: absolute;
  background-size: cover;
  background-position: center;
  transition: all 2.5s;
}
.background li:nth-child(1) {
  opacity: 1;
  background-image: url(/public/assets/image1.jpg);
}
.background li:nth-child(2) {
  opacity: 0;
  background-image: url(/public/assets/image2.jpg);
}
.background li:nth-child(3) {
  opacity: 0;
  background-image: url(/public/assets/image3.jpg);
}
.background li:nth-child(4) {
  opacity: 0;
  background-image: url(/public/assets/image4.jpg);
}
.background li:nth-child(5) {
  opacity: 0;
  background-image: url(/public/assets/image5.jpg);
}
.background li.fade-out {
  animation: fade-out 2.5s;
}
.background-btn {
  position: absolute;
  right: 40px;
  bottom: 40px;
  text-indent: -9999px;
  overflow: hidden;
  width: 60px;
  height: 60px;
  background-image: url(/public/assets/sun.png);
  background-size: 100%;
  background-position: center;
}
.background-btn.rolling {
  animation: rolling 1s;
}
@keyframes fade-out {
  0% {
    transform: scale(1) rotate(0);
  }
  100% {
    transform: scale(1.5) rotate(10deg);
  }
}
@keyframes rolling {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(150deg);
  }
}
