@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
h1 {
  position: absolute;
  left: 50%;
  top: 30%;
  width: 500px;
  height: 100px;
  transform: translate(-50%, 0);
  background-color: red;
}
.user-menu {
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translate(-50%, 0);
}
.user-menu li {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 20px;
  background-color: red;
}
.user-menu li:last-child {
  margin: 0;
}

.wrap {
}

.timer {
}

.timer-hour {
}
.timer-min {
}
.greeting {
}
.name {
}
.user-menu {
}
.login-page {
}
.login-wrap {
}
.todo-wrap {
}
.todo-form {
}
.todo-input {
}
.complete-all {
}
.clear-complete {
}
.activie-todo {
}
.completed-todo {
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
}
.background li {
  width: 100%;
  height: 100%;
  list-style: none;
  position: absolute;
  background-size: cover;
  background-position: center;
  transition: all 2.5s;
}
.background li:nth-child(1) {
  opacity: 1;
  background-image: url(/public/assets/image1.jpg);
}
.background li:nth-child(2) {
  opacity: 0;
  background-image: url(/public/assets/image2.jpg);
}
.background li:nth-child(3) {
  opacity: 0;
  background-image: url(/public/assets/image3.jpg);
}
.background li:nth-child(4) {
  opacity: 0;
  background-image: url(/public/assets/image4.jpg);
}
.background li:nth-child(5) {
  opacity: 0;
  background-image: url(/public/assets/image5.jpg);
}
.background li.fade-out {
  animation: fade-out 2.5s;
}
.background-btn {
  position: absolute;
  right: 40px;
  bottom: 40px;
  text-indent: -9999px;
  overflow: hidden;
  width: 60px;
  height: 60px;
  background-image: url(/public/assets/sun.png);
  background-size: 100%;
  background-position: center;
}
.background-btn.rolling {
  animation: rolling 1s;
}
@keyframes fade-out {
  0% {
    transform: scale(1) rotate(0);
  }
  100% {
    transform: scale(1.5) rotate(10deg);
  }
}
@keyframes rolling {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(150deg);
  }
}
