@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}

  padding: 0;
  margin: 0;
}

@import url("./reset.css");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
h1 {
  position: absolute;
  left: 50%;
  top: 30%;
  width: 500px;
  height: 100px;
  transform: translate(-50%, 0);
  background-color: red;
}
.user-menu {
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translate(-50%, 0);
}
.user-menu li {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 20px;
  background-color: red;
}
.user-menu li:last-child {
  margin: 0;
}

/* 로그인 창 구현  */


.wrap.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top:0;
  opacity: 0.5;
  background-color: #000;
  z-index: -1;
}
.login-page-enter-btn {
  background-color: #97add1;
  border: 1px solid #97add1;
  border-radius: 3px;
  position: absolute;
  color: #fff;
  top:10px;
  right: 10px;
}
.login-wrap.active {
  opacity: 1;
}
.login-wrap{
  opacity: 0;
  width: 230px;
  height: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background:#d6f0f6;
  border-radius: 4px;
}
.login-wrap > * {
  width: 200px;
  height: 30px;
  border: 1px solid #e8e8eb;
  border-radius: 3px;
  margin: 15px auto;
  padding: 3px;
}
.login-wrap>input::placeholder {
  color: grey;
  text-align: center;
}
.login-id {
}
.login-pw {
}
.login-btn {
  color: white;
  font-weight: 700;
  border: 0px;
  background-color: skyblue;
  
/* ////////////////// */

.timer {
}

.timer-hour {
}
.timer-min {
}
.greeting {
}
.name {
}
.user-menu {
}
.login-page {
}
.login-wrap {
}
.todo-wrap {
  background-color: aquamarine;
  border: 3px solid black;
  position: relative;
  width: 40%;
  height: 500px;
}
.todo-wrap > h2 {
  width: 80px;
  background-color: violet;
  margin: 0 auto;
}

.todo-form {
  margin-top: 20px;
}
.todo-input {
  border: none;
  background-color: yellow;
  vertical-align: middle;
  border-radius: 4px;
  padding: 5px 10px;
  width: 75%;
}
.add-btn {
  border: none;
  vertical-align: middle;
  border-radius: 4px;
  padding: 3px 10px;
  background-color: burlywood;
  margin-left: 33px;
}
.active {
  background-color: burlywood;
}
.nav {
  margin-top: 10px;
}
.nav > li {
  display: inline-block;
  padding: 4px 10px;
  cursor: pointer;
  border-radius: 4px;
}
#all {
}
#active {
}
#completed {
}

.todos {
  margin-top: 10px;
  background-color: chartreuse;
}

.footer {
  display: flex;
  margin-top: 10px;
}

.complete-all {
  padding-right: 20px;
  vertical-align: middle;
  padding-top: 2px;
}
.clear-complete {
}
.clear-complete > span {
  vertical-align: middle;
}
.clear-complete > button {
  border: none;
  border-radius: 4px;
  background-color: burlywood;
  padding: 4px 10px;
  vertical-align: middle;
}
.activie-todo {
  vertical-align: middle;
}
.completed-todo {
}


.background {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
}
.background li {
  width: 100%;
  height: 100%;
  list-style: none;
  position: absolute;
  background-size: cover;
  background-position: center;
  transition: all 2.5s;
}
.background li:nth-child(1) {
  opacity: 1;
  background-image: url(/public/assets/image1.jpg);
}
.background li:nth-child(2) {
  opacity: 0;
  background-image: url(/public/assets/image2.jpg);
}
.background li:nth-child(3) {
  opacity: 0;
  background-image: url(/public/assets/image3.jpg);
}
.background li:nth-child(4) {
  opacity: 0;
  background-image: url(/public/assets/image4.jpg);
}
.background li:nth-child(5) {
  opacity: 0;
  background-image: url(/public/assets/image5.jpg);
}
.background li.fade-out {
  animation: fade-out 2.5s;
}
.background-btn {
  position: absolute;
  right: 40px;
  bottom: 40px;
  text-indent: -9999px;
  overflow: hidden;
  width: 60px;
  height: 60px;
  background-image: url(/public/assets/sun.png);
  background-size: 100%;
  background-position: center;
}
.background-btn.rolling {
  animation: rolling 1s;
}
@keyframes fade-out {
  0% {
    transform: scale(1) rotate(0);
  }
  100% {
    transform: scale(1.5) rotate(10deg);
  }
}
@keyframes rolling {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(150deg);
  }
.close-btn {
  position: absolute;
  background-color: burlywood;
  border: none;
  border-radius: 4px;
  padding: 4px 10px;
  top: 5px;
  right: 5px;
}